.navbar{
padding:20px;
}

.nav2{
  background-color:#36558F;
}

.affix {
    background-color:#36558F;
}

div{
  font-family:'Flama Condensed', 'Light';
}

h2{
  font-size:24px;
}

p{
  font-size:18px;
}


#seccionMedia{
  margin-bottom:30px;
}

li{
  margin-right:15px;
  margin-left:15px;
  list-style: none;
  float:right;
  color:lightgray;
}

#logoNav{
  float:left;
  font-size:40px;
  color:lightgray;
  margin:30px;
}

.nohover{
  color:lightgray;
  text-decoration:none;
}

#header {
background-image: url("imagenes/facebook1.jpg");
height:500px;
background-size:cover;
position:bottom;
}

#seccionMedia{
background-color:#fafafa;
}

#instagram{
  background-color:#fafafa;
}


#bienvenida{
  font-weight:bold;
  font-size:50px;
  margin-top:90px;
}

#blogReciente{
  font-size:35px;
  margin-bottom:15px;
}

#tituloInstagram{
  font-size:35px;
  margin:30px;
}

#llamadoInstagram{
  margin-left:30px;
}

#tituloPrincipal{
  margin-left:20px;
}

#postsPopulares{
text-align:center;
margin-bottom:40px;
}

.tituloPopular{
  text-align:center;
  font-size:24px;

}

.textoPop{
margin-bottom:35px;
margin-right:10px;
}

.seguirLeyendo{
  float:right;
}



.jumbo{
  margin:0;
  padding:0;
}

#headerescuela{
  background-image:url("imagenes/tallerescafe.jpg");
  height: 490px;
  background-size:cover;
  position:bottom;
  margin-bottom:25px;
}

.anclaEscuela{
  font-size:20px;
  color:black;
}

#introEscuela{
  font-size:20px;
}

.linea{
  background-color:lightgray;
  height:1px;
}

.taller{
background-image: url("imagenes/161.jpg");
 height:415px;
 background-size:cover;
 background-position: center;
}


.background{
  margin:25px;
}


div.transbox {
  padding: 30px;
  background-color : #fafafa;
  opacity: 0.9;
  filter: alpha(opacity=60);
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.trans2{
  margin-top: 90px;
}

.trans3{
  margin: 0px;
}

#fechas {
  height:400px;
  padding:10px;
  
}

.formCursos{
  margin-top:140px;
}

.image {
  margin: 30px 0 30px 30px;
}

.fotoTaller{
  margin:5px;
  position:relative;
  height:200px;
}

#myCarousel{
  margin-top:30px;
}



.fotoEquipo {
background-image: url("imagenes/equipo.jpg");
height:510px;
background-size:cover;
}

.fotosHistoria{
margin:10px 70px 10px 70px;
}

.nombre{
  padding:30px;
}

#historia{
  margin-top:100px;
}

h2{
 margin:20px;
}

#imagenPost1{
  width:700px;
  margin: 0 15px 30px 30px;
}

#bodyEventos{
background-image: url("imagenes/bunting-flag.png");
}


.fotoEvento{
background-image: url("imagenes/fotoeventos.jpg");
background-size:cover;
height:565px;
}

.imagenEvento{
padding:20px;
}

.rrsse{
  color:black;
  font-size:20px;
}

@media only screen and (max-width: 500px) {

li{
  margin-right:4px;
  margin-left:4px;
  list-style: none;
}

#header {
background-image: url("imagenes/facebook1.jpg");
height:200px;
background-size:cover;
position:bottom;
}

.taller{
background-image: url("imagenes/161.jpg");
 height:620px;
 background-size:cover;
 background-position: center;

}

.formCursos{
  margin-top:30px;
}

.jumbotron{
  margin-top:40px;
}

iframe{
  height:200px;
  width:300px;
}

}

@media only screen and (min-width : 501px) and (max-width : 1024px) {

#header {
background-image: url("imagenes/facebook1.jpg");
height:250px;
background-size:cover;
position:bottom;
}

div.transbox {
  padding: 5px;
  background-color : #fafafa;
  opacity: 0.9;
  filter: alpha(opacity=60);
}

.taller{
background-image: url("imagenes/161.jpg");
 height:620px;
 background-size:cover;
 background-position: center;

}

}